<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="col-9">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-today-tab" data-bs-toggle="pill" href="#pills-today" role="tab"
             aria-controls="pills-today" aria-selected="true">Today</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-yesterday-tab" data-bs-toggle="pill" href="#pills-yesterday" role="tab"
             aria-controls="pills-yesterday" aria-selected="false">Yesterday</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-this week-tab" data-bs-toggle="pill" href="#pills-this-week" role="tab"
             aria-controls="pills-this week" aria-selected="false">This Week</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-last week-tab" data-bs-toggle="pill" href="#pills-last-week" role="tab"
             aria-controls="pills-last week" aria-selected="false">Last Week</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-this month-tab" data-bs-toggle="pill" href="#pills-this-month" role="tab"
             aria-controls="pills-this week" aria-selected="false">This Month</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-last month-tab" data-bs-toggle="pill" href="#pills-last-month" role="tab"
             aria-controls="pills-last month" aria-selected="false">Last Month</a>
        </li>
      </ul>


      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-today" role="tabpanel" aria-labelledby="pills-today-tab">


          <div class="card text" *ngFor="let article of todayArticles">
            <div class="card-header text-primary fw-bold fs-5 gx-3">
              <img src="{{article.site.logo}}" width="30" height="30" class="rounded-circle"
                   alt="..."> {{article.site.name}}
            </div>
            <div class="card-body">
              <img src="{{article.image}}" class="card-img-top" alt="...">
              <h5 class="card-title fw-bold fs-2 text-primary">{{article.title}}</h5>
              <p class="card-text fs-5 ">
                {{article.content | excerpt: 200}}
              </p>
              <div class="text">
                <a href="#" class="btn btn-outline-primary"> Read More </a>
              </div>
            </div>
            <div class="card-footer text-muted text-end fs-5 gx-3">
              Published: <i class="fas fa-clock mr-1 text-danger"></i>  {{article.date | dateAgo}}
              <i class="fas fa-eye mr-1 text-primary text-end "></i> Views
              <i class="fas fa-comments mr-1 text-primary text-end">100</i> Comments
            </div>
            <hr/>
          </div>

        </div>


        <div class="tab-pane fade" id="pills-yesterday" role="tabpanel" aria-labelledby="pills-yesterday-tab">
          YESTERDAY

        </div>
        <div class="tab-pane fade" id="pills-this-week" role="tabpanel" aria-labelledby="pills-this-week-tab">
          THIS WEEK

        </div>
        <div class="tab-pane fade" id="pills-last-week" role="tabpanel" aria-labelledby="pills-last-week-tab">
          THIS WEEK

        </div>
        <div class="tab-pane fade" id="pills-this-month" role="tabpanel" aria-labelledby="pills-this-month-tab">
          THIS MONTH

        </div>

        <div class="tab-pane fade" id="pills-last-month" role="tabpanel" aria-labelledby="pills-last-month-tab">
          LAST MONTH

        </div>

      </div>
    </div>


    <div class="col-3">
      <div class="text-center">
        <img src="https://via.placeholder.com/336x280" class="img-fluid" alt="..." align="centre">
        <hr/>
        <img src="https://via.placeholder.com/300x600" class="img-fluid" alt="..." align="centre">
        <hr/>
      </div>
      <div>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
              blandit.</p>
            <small>Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
              blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
          <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">List group item heading</h5>
              <small class="text-muted">3 days ago</small>
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
              blandit.</p>
            <small class="text-muted">Donec id elit non mi porta.</small>
          </a>
        </div>
      </div>
      <div class="text-center">
        <img src="https://via.placeholder.com/336x280" class="img-fluid" alt="...">
        <hr/>
        <img src="https://via.placeholder.com/300x600" class="img-fluid" alt="...">
        <hr/>
      </div>
    </div>
  </div>
</div>



