<div class="card text" *ngFor="let article of articles">
  <div class="card-header text-primary fw-bold fs-5 gx-3">
    <img src="{{article.site.logo}}" width="30" height="30" class="rounded-circle"
         alt="..."> {{article.site.name}}
  </div>
  <div class="card-body">
    <img src="{{article.image}}" class="card-img-top" alt="...">
    <h5 class="card-title fw-bold fs-2 text-primary">{{article.title}}</h5>
    <p class="card-text fs-5 ">
      {{article.content | excerpt: 200}}
    </p>
    <div class="text">
      <a href="#" class="btn btn-outline-primary"> Read More </a>
    </div>
  </div>
  <div class="card-footer text-muted text-end  gx-3 p-3">
    <i class="fas fa-clock mr-1 text-danger"></i>  {{article.date | dateAgo}}
    <i class="fas fa-eye mr-1 text-primary p-2 "> 0</i> Views
    <i class="fas fa-comments mr-1 text-primary p-2"> 0</i> Comments
    <i class="fas fa-comment-alt mr-1 text-primary p-2"> 0</i> Responses
  </div>
  <hr/>
</div>
